.aboutcard{
    
    width: 800px;
	height:500px;
	position: relative;
	top: 5%;
	left:70%;
    background-color: #0b0707;
	border-radius: 20px;
}
.aboutp{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    margin-left:44px;
    color: black;
    
}
.abouth2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
    
    color: rgb(15, 15, 15);
}